<launch>
    <include file="$(find puzzlebot_slam)/launch/multiple_slam.launch">
        <arg name="prefix" value="he"/>
        <arg name="name" value="hernan"/>
        <arg name="x" default="0.3"/>
        <arg name="y" default="1.1"/>
        <arg name="th" default="0.0"/>
    </include>

    <include file="$(find puzzlebot_slam)/launch/multiple_slam.launch">
        <arg name="prefix" value="fb"/>
        <arg name="name" value="fran-bot"/>
        <arg name="x" default="0.3"/>
        <arg name="y" default="0.6"/>
        <arg name="th" default="0.0"/>
    </include>

    <include file="$(find multirobot_map_merge)/launch/map_merge.launch">
        <param name="known_init_poses" value="true"/>
        <param name="world_frame" value="map"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="my_static_transform_publisher" args="0 0 0 0 0 0 1 map world" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puzzlebot_rviz)/config_slam.rviz"/> -->
</launch>