<launch>
    <include file="$(find puzzlebot_slam)/launch/multiple_slam.launch">
        <arg name="prefix" value="he"/>
        <arg name="name" value="hernan"/>

    </include>

    <include file="$(find puzzlebot_slam)/launch/multiple_slam.launch">
        <arg name="prefix" value="fb"/>
        <arg name="name" value="frankbot"/>
        <!-- <arg name="x" default="3.0"/>
        <arg name="y" default="2.0"/>
        <arg name="th" default="0.0"/> -->
    </include>
    <!-- <include file="$(find puzzlebot_slam)/launch/multiple_slam.launch">
        <arg name="prefix" value="mm"/>
        <arg name="name" value="motomami"/>
    </include> -->

    <include file="$(find multirobot_map_merge)/launch/map_merge.launch">
        <param name="known_init_poses" value="false"/>
        <param name="world_frame" value="map"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="my_static_transform_publisher" args="0 0 0 0 0 0 1 map world" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puzzlebot_rviz)/config_slam.rviz"/> -->
</launch>