<launch>
    <arg name="prefix" default="fb"/>
    <arg name="name" default="frank"/>
    <arg name="x" default="0.3"/>
    <arg name="y" default="0.6"/>
    <arg name="th" default="0.0"/>
    <group ns="$(arg prefix)">
        <!-- Remap topics -->

        <!-- Odometry -->
        <remap from="/odom" to="/$(arg prefix)/odom"/>
        <remap from="/wl" to="/$(arg prefix)/wl"/>
        <remap from="/wr" to="/$(arg prefix)/wr"/>

        <!-- SLAM -->
        <remap from="/map" to="/$(arg prefix)/map"/>
        <remap from="/scan" to="/$(arg prefix)/scan"/>
        <remap from="/scan_lag" to="/$(arg prefix)/scan_lag"/>
        <remap from="/map_updates" to="/$(arg prefix)/map_updates"/>

        <!-- Navigation -->
        <remap from="/cmd_vel" to="/$(arg prefix)/cmd_vel"/>
        <remap from="/pot_fields/cmd_vel" to="/$(arg prefix)/pot_fields/cmd_vel"/>
        <remap from="/img_processing/cmd_vel" to="/$(arg prefix)/img_processing/cmd_vel"/>
        <remap from="/brain/map_count" to="/$(arg prefix)/brain/map_count"/>
        <remap from="/brain/map_objective" to="/$(arg prefix)/brain/map_objective"/>
        <remap from="/brain/final_obj" to="/$(arg prefix)/brain/final_obj"/>
        <remap from="/video_source/raw" to = "/$(arg prefix)/video_source/raw"/>
        <remap from="/brain/main_objective" to = "/$(arg prefix)/brain/main_objective"/>
        <remap from="/ojos" to = "/$(arg prefix)/ojos"/>
        <remap from="/clicked_point" to = "/$(arg prefix)/clicked_point"/>
        <remap from="/move_base_simple/goal" to = "/$(arg prefix)/move_base_simple/goal"/>
        <remap from="/wall/cmd_vel" to = "/$(arg prefix)/wall/cmd_vel"/>
        
        

        <!-- Odometry and transform publisher -->
        <node name="puzzlebot_odom" pkg="puzzlebot_slam" type="odom.py">
            <param name="prefix_robot" value="$(arg prefix)" />
            <param name="x" value="$(arg x)" />
            <param name="y" value="$(arg y)" />
            <param name="t" value="$(arg th)" />
        </node>
        <node name="puzzlebot_tf" pkg="puzzlebot_slam" type="transformer.py">
            <param name="prefix_robot" value="$(arg prefix)" />
        </node>

        <!-- Robot description -->

        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find puzzlebot_gazebo)/urdf/puzzlebot.xacro'" />
        
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
            <param name="tf_prefix" value=" $(arg prefix)" />
        </node>

        <node name="joint_state_publisher"  pkg="joint_state_publisher" type="joint_state_publisher"/> 
        
        <!-- SLAM -->
        <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">

            
            <param name="odom_frame" value="/$(arg prefix)/odom"/>
            <param name="base_frame" value="/$(arg prefix)/base_link"/>
            <param name="map_update_interval" value="0.5"/>
            <param name = "xmin" value = "-15.0"/>
            <param name = "xmax" value = "15.0"/>
            <param name = "ymin" value = "-15.0"/>
            <param name = "ymax" value = "15.0"/>
        </node>
    <!-- <include file="$(find forza_ctrl)/launch/ctrl.launch"/> -->

        <!-- Navigation -->
        <include file="$(find puzzlebot_navigation)/launch/run_cam_fb.launch"/>

        <!-- Line follower -->
        <include file="$(find line_detection)/launch/compu.launch"/>

        <!-- Referee -->
        <node name = "Toretto" pkg= "controller" type="pilot.py"/>
    </group>
</launch>