<launch>
    <!--remap from="camera/image_raw" to="camera/rgb/image_raw" /-->
  <include file="$(find puzzlebot_rviz)/launch/run_sim.launch"/>
  <node name="rviz" pkg="rviz" type="rviz" />
  <node name="puzzlebot_tf" pkg="puzzlebot_slam" type="transformer.py"/>
  <node name="puzzlebot_odom" pkg="puzzlebot_slam" type="odom.py"/>
  
  <include file="$(find teleop_twist_joy)/launch/teleop.launch">
    <arg name="joy_config" value="xbox" />
    <param name="scale_linear" value="0.001" />
    <param name="scale_linear_turbo" value="0.00001" />
  </include>
  <include file="$(find puzzlebot_slam)/launch/conversion.launch"/>
</launch>