<launch>
  <include file="$(find puzzlebot_rviz)/launch/run_sim.launch"/>
  <node name="rviz" pkg="rviz" type="rviz" />
  <node name="puzzlebot_tf" pkg="puzzlebot_slam" type="transformer.py"/>
  <node name="puzzlebot_odom" pkg="puzzlebot_slam" type="odom.py"/>
  
  <include file="$(find forza_ctrl)/launch/ctrl.launch"/>

  </launch>