<launch>
    <!-- Arguments -->
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    
    <node name="puzzlebot_odom" pkg="puzzlebot_slam" type="odom.py"/>
    <node name="puzzlebot_tf" pkg="puzzlebot_slam" type="transformer.py"/>
  
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find puzzlebot_gazebo)/urdf/puzzlebot.xacro'" />
    <arg name="prefix" default=""/>
    <arg name="name" default="puzzlebot"/>

    <node name="puzzlebot_controller" pkg="puzzlebot_control" type="puzzlebot_control_node"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="tf_prefix" value="$(arg prefix)" />
    </node>

    <node name="joint_state_publisher"  pkg="joint_state_publisher" type="joint_state_publisher"/> 
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/>
        <rosparam command="load" file="$(find puzzlebot_slam)/config/gmapping_params.yaml" />
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puzzlebot_rviz)/config_slam.rviz"/>
    <include file="$(find teleop_twist_joy)/launch/teleop.launch">
    <arg name="joy_config" value="xbox" />
    <param name="scale_linear" value="0.001" />
    <param name="scale_linear_turbo" value="0.00001" />
  </include>
</launch>